.farm-form {
  @media only screen and (max-width: 767px) {
    .ui.container {
      margin: 0 !important;
    }
  }

  #save-profile-button {
    margin-bottom: 16px;
  }

  #edit-button {
    background-color: var(--error);
    color: var(--white);

    &:hover {
      filter: saturate(80%);
    }
  }

  p.label {
    width: 100%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 16px;

    &.sustainable {
      margin-top: 0;
    }
  }
  .farm-type {
    padding-left: 30px;

    label span {
      padding: 5px;
    }
  }

  .area-input {
    margin-top: 0;
    margin-right: 16px;
    width: calc((100% - 48px) / 3);
  }

  .farm-card {
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
  }
}
