.menu-bar {
  position: absolute;
  top: 64px;
  width: 100%;
  background-color: var(--secondary);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  @media screen and (max-width: 678px) {
    top: 56px;
    bottom: 0;
  }

  .list .item {
    display: flex;
    padding: 16px;
    outline: none;
    text-decoration: none;

    span {
      margin-left: 16px;
    }
  }
}
